# generators
config_files/*.ipynb

# config files
config_files/*.yaml

# files created form the repo
explanations/
surrogate_check/
test_output/

# ignore large files (for now)
src/datasets/AWA_rawdata/
src/datasets/Shapes2x2/*.npy
src/datasets/Shapes2x2/*.pt

# ignore changes to cpp files of library (linux vs. windows issues)
src/solvers/libs/

# ignore training checkpoints overview
training_checkpoints/